Stock Market Price Forecasting

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv("data/2023_2024.csv")
data.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2023-04-10,161.419998,162.029999,160.080002,162.029999,160.951431,47716900
1,2023-04-11,162.350006,162.360001,160.509995,160.800003,159.729614,47644200
2,2023-04-12,161.220001,162.059998,159.779999,160.100006,159.034271,50133100
3,2023-04-13,161.630005,165.800003,161.419998,165.559998,164.457901,68445600
4,2023-04-14,164.589996,166.320007,163.820007,165.210007,164.110245,49386500

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 311 entries, 0 to 310
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       311 non-null    object
 1   Open       311 non-null    float64
 2   High       311 non-null    float64
 3   Low        311 non-null    float64
 4   Close      311 non-null    float64
 5   Adj Close  311 non-null    float64
 6   Volume     311 non-null    int64
dtypes: float64(5), int64(1), object(1)
memory usage: 17.1+ KB

We are forecating close value based on date. for that, other columns apart from that two are not required. so, we disconnect them.

In [5]:
data.drop(["Volume", "Open", "High", "Low", "Adj Close"], axis=1, inplace=True)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 311 entries, 0 to 310
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    311 non-null    object
 1   Close   311 non-null    float64
dtypes: float64(1), object(1)
memory usage: 5.0+ KB

Now, we save this data for further use

In [6]:
data.to_csv("./data/2023_2024_preprocessed_data.csv")